<h1 class="title-table">Vehiculos registrados</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Tipo vehiculo</th>
      <th scope="col">Placa</th>
      <th scope="col">Fecha y hora de llegada</th>
      <th scope="col">Salida de vehiculo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registers">
      <td>{{item.vehiculo.tipoVehiculo.nombre}}</td>
      <td>{{item.vehiculo.placa}}</td>
      <td>{{item.fechaLlegada|date:'medium'}}</td>
      <button type="button"[routerLink] = "['/createDepartureComponent']" class="btn btn-danger">Registrar</button>
    </tr>
  </tbody>
</table>
