<h1 class="title-table">Registrar vehiculo</h1>
<form class="form-register">
  <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label form-label">Placa:</label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Ingrese placa del vehiculo" value="" id="example-text-input">
      </div>
  </div>
  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label form-label">Cilindraje</label>
    <div class="col-10">
      <input class="form-control" type="search" placeholder="Ingrese cilindraje del vehiculo" id="example-search-input">
    </div>
  </div>
  <label class="col-2 col-form-label form-label" for="inlineFormCustomSelect">Tipo vehiculo</label>
  <select class="form-controlcustom-select" id="inlineFormCustomSelect">
    <option class="option-tipovehiculo" selected>Seleccione tipo de vehiculo</option>
    <option value="1">Moto</option>
    <option value="2">Carro</option>
  </select>
</form>