.title-table{
    padding: 15px;
    text-align: center;
}

.form-label{
    padding-left: 20px;
}

.option-tipovehiculo{
    color: gray;
}

.form-register{
    margin: 10px;
    width: 100%;
    align-content: center;
}