body{
    text-align: center; 
    margin: 0 auto;
}
.title-table{
    padding: 15px;
    text-align: center;
}

.form-register{
    margin: 0 auto;
    width: 50%;
}

.text-btn_search{
    display: flex;
    justify-content: flex-end;
}

.btn{
    margin-left: 2%;
}

.row{
    flex-wrap: nowrap; 
}

.btn-success{
    width: 100%;
    display: inline-grid;
    justify-content: center;
}

.require{
    color: red;
    font-weight: bolder;
}

.input-placa{
    text-transform: uppercase;
}
