<h1 class="title-table">Registrar vehiculo</h1>
<form class="form-register" #registerForm="ngForm">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label form-label">
      <span class="require">*</span>Placa:</label>
    <div class="col-10 text-btn_search">
      <input class="form-control input-placa" type="text" [(ngModel)]="vehicle.placa" placeholder="Ingrese placa del vehiculo" name="placa"
        id="example-text-input" #placaInput="ngModel" (input)="clearVehicle()" required/>
      <button type="submit" class="btn btn-primary" id="btn-buscar" (click)="findVehicle()">Buscar</button>
    </div>
  </div>
  <div class="form-group row row-tipo">
    <label class="col-2 col-form-label form-label">
      <span class="require">*</span>Tipo:</label>
    <div class="col-10">
        <select required [(ngModel)]="tipoVehiculoSeleccionado"  name="select tipoVehiculo" class="form-control">
            <option *ngFor="let item of listTipoVehiculo" [ngValue]="item" ngDefaultControl>{{item.nombre}}</option>
        </select>
    </div>
  </div>
  <div class="form-group row" *ngIf="tipoVehiculoSeleccionado.codigo == 1">
    <label for="example-search-input" class="col-2 col-form-label form-label">Cilindraje:</label>
    <div class="col-10">
      <input class="form-control" type="search"  [(ngModel)]="vehicle.cilindraje" placeholder="Ingrese cilindraje del vehiculo"
        name="cilindraje" id="example-search-input" required/>
    </div>
  </div>

  
  <button type="submit" class="btn btn-success" (click)="registerVehicle()" [disabled]="registerForm.invalid">Registrar</button>
</form>